{% extends "bbase.html" %}
{% block container-block %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">
  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap5" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">
  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css'%}">
  <link rel="stylesheet" href="{% static 'css/tiny-slider.css'%}">
  <link rel="stylesheet" href="{% static 'css/aos.css'%}">
  <link rel="stylesheet" href="{% static 'css/flatpickr.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/glightbox.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css'%}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/layout.css'%}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/content.css'%}" />
	<script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/top_navi.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/left_navi.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/main.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/common.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/idangerous.swiper-2.1.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.anchor.js'%}"></script>
	<meta name="csrf-token" content="{{ csrf_token }}">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<title>KOAT - 코리아트레블</title>
<style>a{cursor: pointer;}</style>
<script type="text/javascript">
  function deleteBtn(){
    if (confirm('게시글을 삭제하시겠습니까?')){
      location.href = '/board/bdelete/{{board.b_no}}/';
    }
  }

	if ('{{rq_login}}'=='True'){
		if(confirm('로그인을 하셔야 게시글을 확인할 수 있습니다. 로그인 하시겠습니까?')){
			location.href='/member/login/'
		}else{
			location.href='/board/blist/'
		}
	}

</script>
</head>
<body>
	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav mt-3">
		<div class="container">

			<div class="site-navigation">
				<div class="row">
					<div class="col-6 col-lg-3">
						<a href="/" class="logo m-0 float-start">KOAT</a>
					</div>
					<div class="col-lg-6 d-none d-lg-inline-block text-center nav-center-wrap">
						<ul class="js-clone-nav  text-center site-menu p-0 m-0">
							<li class="active"><a href="/">Home</a></li>
							<li class="has-children">
								<a href="#">지역/즐길거리</a>
								<ul class="dropdown">
									<li><a href="/location/location" style="margin-bottom: 2px;">지역</a></li>
									<li class="has-children">
										<a href="#">즐길거리</a>
										<ul class="dropdown">
											<li><a href="/food/eat/">한국 대표 음식</a></li>
											<li><a href="/heritage/culture/">한국 문화 유산</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="/board/blist/">게시판</a></li>
							<li><a href="/package/plist">패키지</a></li>
							<li><a href="/shop/hotels/">숙박시설</a></li>
								{% if request.session.session_m_auth == 0%}
									<li><a href="/admin/">admin</a></li>
								{% else %}
								{% endif %}
						</ul>
					</div>
					<div class="col-6 col-lg-3 text-lg-end">
						<ul class="js-clone-nav d-none d-lg-inline-block text-end site-menu ">
							{% if not request.session.session_m_id %}
							<li class="cta-button"><a href="/member/login/">로그인</a></li>
							{% else %}
							<li class="cta-button"><a href="/member/logout/">로그아웃</a></li>
							{% endif %}
						</ul>

						<a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
							<span></span>
						</a>
					</div>
				</div>
			</div>
			
		</div>
	</nav>
	<div class="hero overlay">

		<div class="img-bg rellax">
			<img src="/static/images/hero_1.jpg" alt="Image" class="img-fluid">
		</div>

		<div class="container">
			<div class="row align-items-center justify-content-start">
				<div class="col-lg-5">

					<h1 class="heading" data-aos="fade-up">여행 후기</h1>
					<p class="mb-5" data-aos="fade-up">여행의 추억을 공유하고, 다른 사람들과 함께 설렘을 나눠보세요!</p>
					
				</div>

				
			</div>
		</div>

	<!--사이드 바-->
	<div id="right_fixed">
		<div class="ai_chatting"></div>
		<div class="top"><a href="javascript:void(0);" onclick="openSmallWindow('/chatbot/bot/')">SKYNET과 대화</a></div>
	</div>
	<!--사이드 바-->
	<script>
	// 사이드바 자바스크립트
		function openSmallWindow(url) {
			window.open(url, 'AIChatWindow', 'width=470,height=900');
		}
		const video = document.getElementById('backvd');
		const controlBtn = document.getElementById('vdcont');
	// 사이드바 자바스크립트
	</script>
		
	</div>
	<!-- container -->
	<div id="container">

		<div id="location">
			<ol>
				<li><a href="/">HOME</a></li>
				<li><a href="/board/blist/">여행 후기 게시판</a></li>
				<li class="last">여행 후기</li>
			</ol>
		</div>
		
		<div id="outbox">		
			<div id="left">
				<div id="title2">게시판<span>Board</span></div>
			</div><script type="text/javascript">initSubmenu(3,0);</script>


			<!-- contents -->
			<div id="contents">
				<div id="mypage">
					<h2><strong>여행 후기</strong></h2>
					
					<div class="viewDivMt">
						<div class="viewHead">
							<div class="subject">
								<ul>
									<li id='sub1'><span class="orange">[{{board.b_header}}]</span> {{board.b_title}}<a href='#'>[{{clist.count}}]</a></li>
									<li id='sub2' class="tnone"><span>{{board.b_date|date:'Y-m-d H:i'}}</span></li>
									<li id='sub3' class="tnone">조회수 : <span>{{board.b_hit}}</span></li>
								</ul>
							</div>
							<div class="data">
								<ul>
									<li class="tnone">작성자<span>{{board.member.m_nickName}}</span></li>
								</ul>
							</div>
						</div>

						<div class="viewContents">
							{{board.b_content|safe}}
						</div><br/><br/><br/><br/>
						<div class="viewContents">
							{% if board.b_file.exists %}
								{% for file in board.b_file.all %}
								<img src="{{ file.b_file.url }}" alt="{{ file.b_file.name }}" style="max-width: 400px; border: 1px solid #ccc; margin-bottom: 10px;">
								{% endfor %}
							{% else %}
								
							{% endif %}
						</div>
					</div>

					<script>
						$(function(){
							// 좋아요 버튼
							$("#greatBtn").click(function(){
								const csrfToken = $("meta[name='csrf-token']").attr("content");
								let b_no = "{{board.b_no}}";
								//ajax
								$.ajax({
									headers:{"X-CSRFToken":csrfToken},
									url:"/board/likes/",
									type:"post",
									data:{"b_no":b_no},
									success:function(data){
										console.log("결과 data.result : "+data.result)

										if(data.result == "remove"){
											$('.g_count').text('좋아요 '+data.count)
										}else{
											$('.g_count').text('좋아요 '+data.count)
										}
										$('.b_count').text('싫어요 '+data.dis_count)						
									},
									error:function(){
										alert("실패")
									}
								})//ajax
							});

							$("#badBtn").click(function(){
								const csrfToken = $("meta[name='csrf-token']").attr("content");
								let b_no = "{{board.b_no}}";
								//ajax
								$.ajax({
									headers:{"X-CSRFToken":csrfToken},
									url:"/board/dislikes/",
									type:"post",
									data:{"b_no":b_no},
									success:function(data){
										console.log("결과 data.dis_result : "+data.dis_result)

										if(data.dis_result == "remove"){
											$('.b_count').text('싫어요 '+data.dis_count)
										}else{
											$('.b_count').text('싫어요 '+data.dis_count)
										}					
										$('.g_count').text('좋아요 '+data.count)		
									},
									error:function(){
										alert("실패")
									}
								})//ajax
							});
						});

					</script>

					<!-- 좋아요 부분 -->
					<div class="greatbox">
						<a id='greatBtn'>
							<div class="great">
								<span id="thumbs_up"><i class="fa-regular fa-thumbs-up fa-3x"></i></span>
								<p class="g_count">{{count}}</p>
							</div>
						</a>
						<a id='badBtn'>
							<div class="bad">
								<span id="thumbs_down"><i class="fa-regular fa-thumbs-down fa-3x"></i></span>
								<p class="b_count">{{dis_count}}</p>
							</div>
						</a>
					</div>
					<!-- //좋아요 부분-->

					<!-- Btn Area -->
					<div class="btnArea btline">
						<div class="bRight">
							<ul>
								<li><a href="/board/bupdate/{{board.b_no}}/" id="sbtnMini">수정</a></li>
								<li><a onclick="deleteBtn()" id="sbtnMini">삭제</a></li>
								<li><a href="/board/blist/" class="sbtnMini mw">목록</a></li>
							</ul>
						</div>
					</div>
					<!-- //Btn Area -->

					<script>
						$(function(){
							const csrfToken = $("meta[name='csrf-token']").attr("content");
							// 1. 댓글 입력
							$('.replyBtn').click(function(){

								event.preventDefault();
								// 로그인 체크
								if('{{request.session.session_m_id}}' == ''){
									alert('로그인을 하셔야 댓글 입력이 가능합니다.')
									location.href='/member/login/'
									return
								}								

								c_pw = $('.replynum').val()
								c_content = $('.replyType').val()

								if(c_content === ''){
									alert('댓글을 입력해주세요.')
									return
								}

								b_no = '{{board.b_no}}'
								console.log('b_no :', b_no);

								$.ajax({
									headers:{'X-CSRFToken':csrfToken},
									url:'/comment/cwrite/',
									type:'post',
									data:{'c_pw':c_pw,'c_content':c_content, 'b_no':b_no},
									success:function(data){
										if(data.result == 'success'){
											alert('댓글이 등록되었습니다.')

											var datahtml = ""

											datahtml += `<ul id='${data.comment[0].c_no}'>`
											datahtml += `<li class="name">{{request.session.session_m_nickName}} <span>[${data.comment[0].c_date}]</span></li>`
											datahtml += `<li class="txt">${data.comment[0].c_content}</li>`
											datahtml += `<li class="btn">`
											datahtml += `<a class="uBtn rebtn">수정</a>&nbsp`
											datahtml += `<a class="dBtn rebtn">삭제</a>`
											datahtml += `</li>`
											datahtml += `</ul>`
											console.log(datahtml)
											// $('.replyBox').html(datahtml)
											// $('.replyBox').append(datahtml)
											$('.replyBox1').prepend(datahtml)
											let cnt = $('#cnt').text()
											$('#cnt').text((Number(cnt)+1)) 

										}else{
											alert('등록되지 않았습니다. 다시 입력해주세요.')
										}
									},
									error:function(){
										alert('실패')
									}
								})
								$('.replynum').val('')
								$('.replyType').val('')
							}); // 댓글 입력

							// 댓글 삭제
							// 2. 댓글 삭제 (동적클릭)
							// $('.dBtn').click(function(){}) : 처음불러온 데이터는 삭제 가능, 제이쿼리로 추가한 데이터는 삭제 불가(정적클릭)
							$(document).on('click','.dBtn',function(){
								let c_no = $(this).closest('ul').attr('id');
								if (confirm('댓글을 삭제하시겠습니까?')){
									// ajax 데이터 넘기기
									$.ajax({
										headers:{'X-CSRFToken':csrfToken},
										url:'/comment/cdelete/',
										type:'post',
										data:{'c_no':c_no},
										success:function(data){
											if(data.result == 'success'){
												alert('댓글이 삭제되었습니다.')
												$('#'+c_no).remove()
												let cnt = $('#cnt').text()
												$('#cnt').text((Number(cnt)-1)) 
											}
										},
										error:function(){
											alert('삭제되지 않았습니다. 다시 시도해주세요.')
										}
									})
								}
								console.log($(this).closest('ul').attr('id'))
							}); // 댓글 삭제

							// 댓글 수정
							$(document).on('click','.uBtn',function(){
								let c_no = $(this).closest('ul').attr('id');
								let m_id = '{{request.session.session_m_nickName}}';
								let c_date = $(this).closest('ul').children('.name').children('span').text();
								let c_content = $(this).closest('ul').children('.txt').text();

								let datahtml = ""
								datahtml += `<li class="name">${m_id} <span>${c_date}</span></li>`
								datahtml += `<li class="txt"><textarea class="replyType" row="5">${c_content}</textarea></li>`
								datahtml += `<li class="btn">`
								datahtml += `<a class="sBtn rebtn">완료</a>&nbsp`
								datahtml += `<a class="cBtn rebtn">취소</a>`
								datahtml += `</li>`

								$('#'+c_no).html(datahtml)
							}); // 댓글 수정

							// 댓글수정 취소
							$(document).on('click','.cBtn',function(){
								let c_no = $(this).closest('ul').attr('id');
								let m_id = '{{request.session.session_m_nickName}}';
								let c_date = $(this).closest('ul').children('.name').children('span').text();
								let c_content = $(this).closest('ul').children('.txt').text();

								let datahtml = ""

								datahtml += `<li class="name">{{request.session.session_m_nickName}} <span>${c_date}</span></li>`
								datahtml += `<li class="txt">${c_content}</li>`
								datahtml += `<li class="btn">`
								datahtml += `<a class="uBtn rebtn">수정</a>&nbsp`
								datahtml += `<a class="dBtn rebtn">삭제</a>`
								datahtml += `</li>`

								$('#'+c_no).html(datahtml)
							}); // 댓글수정 취소

							// 댓글수정 저장
							$(document).on('click','.sBtn',function(){
								let c_no = $(this).closest('ul').attr('id');
								let c_content = $(this).closest('ul').children('.txt').children('.replyType').val();

								$.ajax({
									headers:{'X-CSRFToken':csrfToken},
									url:'/comment/cupdate/',
									type:'post',
									data:{'c_no':c_no,'c_content':c_content},
									success:function(data){
										if(data.result == 'success'){
											alert('댓글 수정이 완료되었습니다.')

											let datahtml = ""

											datahtml += `<li class="name">{{request.session.session_m_nickName}} <span>[${data.comment[0].c_date}]</span></li>`
											datahtml += `<li class="txt">${data.comment[0].c_content}</li>`
											datahtml += `<li class="btn">`
											datahtml += `<a class="uBtn rebtn">수정</a>&nbsp`
											datahtml += `<a class="dBtn rebtn">삭제</a>`
											datahtml += `</li>`

											$('#'+c_no).html(datahtml)
										}else{
											alert('수정이 되지않았습니다. 다시 입력해주세요.')
										}
									},
									error:function(){
										alert('실패')
									}
								})
							}); // 댓글수정 저장

							// --- 답글 ---

							// 답글 입력
							$(document).on('click','.rBtn',function(){
								const parent_c_no = $(this).closest('ul').attr('id'); // 부모 댓글 ID 가져오기
								console.log(parent_c_no)
								const replyBox = $(this).closest('ul'); // 댓글 박스 위치 지정
								let m_id = '{{request.session.session_m_nickName}}';
								let now = new Date();

								let c_date = `${now.getFullYear()}-${(now.getMonth() + 1).toString().padStart(2, '0')}-${now.getDate().toString().padStart(2, '0')} ${now.getHours().toString().padStart(2, '0')}:${now.getMinutes().toString().padStart(2, '0')}:${now.getSeconds().toString().padStart(2, '0')}`;
								
								
								// 대댓글 입력 폼 추가
								if (replyBox.find('.replyForm').length === 0) {
									let datahtml = "";
									datahtml += `<div style='border: 1px solid #dcdcdc; padding: 20px;'>`
									datahtml += `<li class="name">${m_id} <span>${c_date}</span></li>`;
									datahtml += `<li class="txt"><textarea class="replyType" rows="5" placeholder="답글을 입력하세요."></textarea></li>`;
									datahtml += `<li class="btn">`;
									datahtml += `<a class="sReplyBtn rebtn">작성</a>&nbsp;`;
									datahtml += `<a class="cReplyBtn rebtn">취소</a>`;
									datahtml += `</li>`;
									datahtml += `</div>`;
					
									// 대댓글 입력 폼 추가
									replyBox.append(`<ul class="replyForm">${datahtml}</ul>`);
								}
							}); // 답글 입력

							// 작성 버튼 클릭시
							$(document).on('click', '.sReplyBtn', function (){
								const parent_c_no = $(this).closest('.replyForm').parent('ul').attr('id');
								const c_content = $(this).closest('ul').find('.replyType').val();
								// 부모 댓글인 replyBox1을 찾아냅니다.
								const parentComment = $(this).closest('.replyBox1');
								
								// 대댓글을 추가할 replyBox2를 parentComment 내에서 찾습니다.
								const replyBox = parentComment.find('.replyBox2'); 

								console.log(parentComment)
								console.log(replyBox)

								if (c_content === '') {
										alert('답글 내용을 입력해주세요.');
										return;
								}

								let b_no = '{{board.b_no}}';
								
								$.ajax({
									headers: { 'X-CSRFToken': csrfToken },
									url: '/comment/reply/',
									type: 'post',
									data: { 'parent_c_no': parent_c_no, 'c_content': c_content, 'b_no': b_no },
									success: function (data) {
											if (data.result === 'success') {
													alert('답글이 등록되었습니다.');

													const dateObj = new Date(data.comment[0].c_date);
													const formattedDateTime = `${dateObj.getFullYear()}-${(dateObj.getMonth() + 1).toString().padStart(2, '0')}-${dateObj.getDate().toString().padStart(2, '0')} ${dateObj.getHours().toString().padStart(2, '0')}:${dateObj.getMinutes().toString().padStart(2, '0')}:${dateObj.getSeconds().toString().padStart(2, '0')}`;
			
													let replyhtml = `
													<ul class="replyBox2">
															<li class="name">{{request.session.session_m_nickName}} <span>[${formattedDateTime}]</span></li>
															<li class="txt">${data.comment[0].c_content}</li>
															<li class="btn">
																	<a class="uBtn rebtn">수정</a>&nbsp;
																	<a class="dBtn rebtn">삭제</a>
															</li>
													</ul class="replyBox2">`;
			
													if (replyBox.length > 0) {
														replyBox.append(replyhtml);
												} else {
														// replyBox2가 없으면 새로 만들어서 부모 댓글에 추가합니다.
														parentComment.append('<ul class="replyBox2">' + replyhtml + '</ul>');
												}
				
												// 대댓글 작성 폼을 제거합니다.
												parentComment.find('.replyForm').remove();
														} else {
																alert('등록되지 않았습니다. 다시 시도해주세요.');
														}
												},
												error: function () {
														alert('실패');
												}
										});
								}); // 작성버튼 클릭

								// 대댓글 수정 및 삭제 버튼 이벤트 핸들러
								$(document).on('click', '.uBtn', function () {
										// 수정 로직을 여기에 추가
										alert('수정 기능을 구현해야 합니다.');
								});

								$(document).on('click', '.dBtn', function () {
										// 삭제 로직을 여기에 추가
										alert('삭제 기능을 구현해야 합니다.');
								});

							// 답글 취소 
							$(document).on('click', '.cReplyBtn', function () {
									$(this).closest('ul.replyForm').remove();
							}); // 답글 취소

						}); // function

					</script>

					</div>
						<!-- 댓글-->
						<div class="replyWrite">
							<ul>
								<li class="in">
									<p class="txt">총 <span id='cnt' class="orange">{{clist.count}}</span> 개의 댓글이 달려있습니다.</p>
									<p class="password">비밀번호&nbsp;&nbsp;<input type="password" class="replynum"></p>
									<textarea class="replyType" rows="5"></textarea>
								</li>
								<li class="btn"><a href="#" class="replyBtn">등록</a></li>
							</ul>
							<p class="ntic">※ 비밀번호를 입력하시면 댓글이 비밀글로 등록 됩니다.</p>
						</div>

						<div class="replyBox">
							{% if clist %}
							{% for comment in clist %}
							<ul id='{{comment.c_no}}' class="replyBox1">
								<li class="name">{{comment.member.m_nickName}} <span>[{{comment.c_date|date:'Y-m-d H:i:s'}}]</span></li>
								<li class="txt">
										{% if request.session.session_m_id != comment.member.m_id and comment.c_pw != null %}
										<a class="passwordBtn"><span class="orange">※ 비밀글입니다.</span></a>
										{% else %}
										<li class="txt">{{comment.c_content}}</li>
										{% endif %}
								</li>
								<li class="btn">
									{% if request.session.session_m_id == comment.member.m_id %}
										<a class="uBtn rebtn">수정</a>
										<a class="dBtn rebtn">삭제</a>
									{% else %}
										<a class="rBtn rebtn">답글</a>	
									{% endif %} <!-- 자기 댓글만 수정/삭제 버튼 -->
								</li>
								<!-- 대댓글 리스트 -->
								{% if comment.comment_set.all %}
								<ul class="replyBox2">
									{% for reply in comment.comment_set.all %}
									<ul>
										<li class="name">{{ reply.member.m_nickName }} <span>[{{ reply.c_date|date:'Y-m-d H:i:s'}}]</span></li>
										<li class="txt">{{ reply.c_content }}</li>
										<li class="btn">
											<a class="uBtn rebtn">수정</a>
											<a class="dBtn rebtn">삭제</a>
										</li>
									</ul>
									{% endfor %}
								</ul>
								{% endif %}
							</ul>
							{% endfor %}
							{% else%}
							<ul><li>댓글이 없습니다.</li></ul>
							{% endif %}
						</div>
					<!-- //댓글 -->

					<!-- 이전다음글 -->
						<div class="pnDiv web">
							<table summary="이전다음글을 선택하여 보실 수 있습니다." class="preNext" border="1" cellspacing="0">
								<caption>이전다음글</caption>
								<colgroup>
								<col width="100px" />
								<col width="*" />
								<col width="100px" />
								</colgroup>
								<tbody>
									<tr>
										<th class="pre">이전글</th>
										<td><a href="/board/bview/{{next_board.b_no}}/">{{next_board.b_title}}</a></td>
										<td>&nbsp;</td>
									</tr>

									<tr>
										<th class="next">다음글</th>
										<td><a href="/board/bview/{{prev_board.b_no}}/">{{prev_board.b_title}}</a></td>
										<td>&nbsp;</td>
									</tr>
								</tbody>
							</table>
						</div>
					<!-- //이전다음글 -->				
					 
					
						<!-- 게시판 리스트 -->
						<div style='width: 100%; height: 100px;'>
							
						</div>
		

						<div class="productTab normaltab">
							<ul>
								<li><a href="/board/blist/" class = "{% if not request.GET.b_header %}on{% endif %}">전체</a></li>
								<li><a href="/board/blist/?b_header=인기" class="{% if request.GET.b_header == '인기' %}on{% endif %}">인기</a></li>
								<li><a href="/board/blist/?b_header=지역" class="{% if request.GET.b_header == '지역' %}on{% endif %}">지역</a></li>
								<li><a href="/board/blist/?b_header=관광지" class="{% if request.GET.b_header == '관광지' %}on{% endif %}">관광지</a></li>
								<li><a href="/board/blist/?b_header=먹거리/맛집" class="{% if request.GET.b_header == '먹거리/맛집' %}on{% endif %}">먹거리/맛집</a></li>
							</ul>						
						</div>
						<!-- 포토 구매후기 -->
						<div class="imgListType">
							<ul>
								{% if blist %}
									{% for bblist in blist %}
								<li>
									<div class="img">
										{% with bblist.b_file.all|first as first_file %}
											{% if first_file %}
													<a href='/board/bview/{{bblist.b_no}}/'><img src="{{ first_file.b_file.url }}" width="155" height="160" alt="{{ first_file.b_file.name }}" /></a>
											{% else %}
													<img src="/static/images/no_image.png" width="155" height="160" alt="No Image" />
											{% endif %}
										{% endwith %}
									</div>	
									<div class="txt">
										<div class="subject">
											<a href="/board/bview/{{bblist.b_no}}/"><span class="orange">[{{bblist.b_header}}]</span> {{bblist.b_title}} <span style="color : #f94b4b;">[{{bblist.comment_count}}]</span></a>
										</div>
										<div class="conf">
											<a href='/board/bview/{{bblist.b_no}}/'>
												{{bblist.b_content|safe}}
											</a>
										</div>
										<div class="data">
											<p>작성자 <span>{{bblist.member.m_nickName}}</span></p>
											<p>등록일 <span>{{bblist.b_date}}</span></p>
											<p>조회수 <span>{{bblist.b_hit}}</span></p>
											<p>좋아요 <span>{{board.b_like_members.count}}</span></p>
										</div>
									</div>
								</li>
									{% endfor %}
								{% else %}
								<li>
									<div class="txt">
										<div class="subject">
											<span class="orange"></span>데이터가 없습니다.
										</div>
									</div>
								</li>
								{% endif %}
							</ul>
						</div>
			</div>
			<!-- //contents -->
			

		</div>
	</div>
	<!-- //container -->
	{% endblock container-block %}