{% load static %}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="csrf-token" content="{{ csrf_token }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap5" />
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@400;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">
	<link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css'%}">

	<link rel="stylesheet" href="{% static 'css/tiny-slider.css'%}">
	<link rel="stylesheet" href="{% static 'css/aos.css'%}">
	<link rel="stylesheet" href="{% static 'css/flatpickr.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/glightbox.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/style.css'%}">
	<title>Sterial &mdash; Free Bootstrap 5 Website Template by Untree.co </title>

	<script src="http://code.jquery.com/jquery-latest.min.js"></script>

</head>
<body>

	

	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav mt-3">
		<div class="container">

			<div class="site-navigation">
				<div class="row">
					<div class="col-6 col-lg-3">
						<a href="/" class="logo m-0 float-start">KOAT</a>
					</div>
					<div class="col-lg-6 d-none d-lg-inline-block text-center nav-center-wrap">
						<ul class="js-clone-nav  text-center site-menu p-0 m-0">
							<li><a href="/">Home</a></li>
							<li class="active"><a href="about.html">지역</a></li>
							<li class="has-children">
								<a href="#">즐길거리</a>
								<ul class="dropdown">
									<li><a href="#">관광지</a></li>
									<li class="has-children">
										<a href="#">먹거리</a>
										<ul class="dropdown">
											<li><a href="#">한국 대표 음식</a></li>
											<li><a href="#">맛집</a></li>
											<li><a href="#">Sub Menu Three</a></li>
										</ul>
									</li>
									<li><a href="#">Menu Three</a></li>
								</ul>
							</li>
							{% if not request.session.session_m_id %}
								<li><a href="/member/login/">로그인</a></li>
							{% else %}
								<li><a href="/member/logout/">로그아웃</a></li>
							{% endif %}
							<li><a href="/board/blist/">게시판</a></li>
						</ul>
					</div>
					<div class="col-6 col-lg-3 text-lg-end">
						<ul class="js-clone-nav d-none d-lg-inline-block text-end site-menu ">
							<li class="cta-button"><a href="contact.html">Contact Us</a></li>
						</ul>

						<a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
							<span></span>
						</a>
					</div>
				</div>
			</div>
			
		</div>
	</nav>
<!--헤더-->	

{% block container-block  %}

{% endblock container-block  %}

  <!-- Footer 부분 -->

	<div class="site-footer">
		<div class="container">

			<div class="row">

				<div class="col-lg-2 ml-auto">
					<div class="widget">
						<h3>유용한 링크</h3>
						<ul class="list-unstyled float-left links">
							<li><a href="https://www.skyscanner.co.kr/">비행기 예매</a></li>
							<li><a href="https://www.kobus.co.kr/main.do">버스 예매</a></li>
							<li><a href="https://www.mibankins.com/travel/">여행자 보험</a></li>
							<li><a href="https://www.weather.go.kr/w/index.do">한국 날씨</a></li>
							<li><a href="#">Q&A</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->

				<div class="col-lg-2">
					<div class="widget">
						<h3>사이트 기능</h3>
						<ul class="list-unstyled float-left links">
							<li><a href="#">About us</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->


				<div class="col-lg-3">
					<div class="widget">
						<h3>회사 주소</h3>
						<address>	269, Olympic-ro, Songpa-gu, Seoul, Republic of Korea</address>
						<ul class="list-unstyled links mb-4">
							<li><a href="tel://11234567890">+82(02)-0000-0000</a></li>
							<li><a href="tel://11234567890">+82(010)-1111-1111</a></li>
							<li><a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->

				<div class="col-lg-4">
					<div class="widget">
						<h3>연락</h3>
						<ul class="list-unstyled social icoct">
							<li><a href="https://www.instagram.com/kto9suk9suk"><span class="icon-instagram"></span></a></li>
							<li><a href="https://x.com/kor_visitkorea"><span class="icon-twitter"></span></a></li>
							<li><a href="https://www.facebook.com/welcometoKTO"><span class="icon-facebook"></span></a></li>
							<li><a href="https://open.spotify.com/track/1IlMgzxAtjoNUPUmp8Omki?si=3d0feb86bdc54c9b"><span class="icon-spotify"></span></a></li>
							<li><a href="#"><span class="icon-pinterest"></span></a></li>
							<li><a href="#"><span class="icon-dribbble"></span></a></li>
						</ul>
					</div> <!-- /.widget -->
					{% comment %} <div class="widget">
						<h3>About Passport<span class="text-primary">.</span> </h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 --> {% endcomment %}

			</div> <!-- /.row -->

			<div class="row mt-5">
				<div class="col-12 text-center">
					<p class="mb-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> <!-- License information: https://untree.co/license/ -->
					</p>
				</div>
			</div> <!-- /.container -->
		</div> <!-- /.site-footer -->

		<!-- Preloader -->
		<div id="overlayer"></div>
		<div class="loader">
			<div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>


		<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
		<script src="{% static 'js/tiny-slider.js'%}"></script>
		<script src="{% static 'js/aos.js'%}"></script>
		<script src="{% static 'js/navbar.js'%}"></script>
		<script src="{% static 'js/counter.js'%}"></script>
		<script src="{% static 'js/rellax.js'%}"></script>
		<script src="{% static 'js/flatpickr.js'%}"></script>
		<script src="{% static 'js/glightbox.min.js'%}"></script>
		<script src="{% static 'js/custom.js'%}"></script>
	</body>
	</html>
