{% extends "base.html" %}
{% block container-block  %}
	

<div class="hero overlay">
	<div class="img-bg rellax">
		<img src="/static/images/hero_2.jpg" alt="Image" class="img-fluid">
	</div>
	<div class="container">
		<div class="row align-items-center justify-content-start">
			<div class="col-lg-6 mx-auto text-center">
				<h1 class="heading" data-aos="fade-up">Sign up</h1>
				<p data-aos="fade-up">Koat의 회원이 되어 더 많은 서비스를 누려보세요!</p>
			</div>
		</div>
	</div>
</div>



<script>
	$(document).ready(function () {
		const csrfToken = $("meta[name='csrf-token']").attr("content");

		idtoken = "0"    // id 중복 확인 검사
		pwtoken = "0"    // pw 입력 확인
		emailtoken = "0" // emaill 입력 확인

		$("#dup").click(function(){ // 아이디 중복 확인 버튼 클릭 시
			if($("#yourid").val().length < 3){
				alert("아이디는 최소 3글자 이상 입력해 주세요")
				return false
			};
			alert("중복 확인합니다.");
			const m_id = $("#yourid").val()
			console.log(m_id)
			$.ajax({  													// 중복 id가 있는지 db와 비교 (ajax 선언)
				headers:{"X-CSRFToken":csrfToken},
				url: "/member/idchk/",
				type: "POST",
				data: {"m_id":m_id},
				success: function(data){
					if (data.result == "success"){
						alert("이미 사용 중인 아이디입니다.")
					}else{
						alert("사용 가능한 아이디입니다.")
						idtoken = "1"
					}
				},
				error: function(){
					alert('ajax실패')
				}
			}); // ajax 
		}); // 중복 확인 버튼 클릭

		$("#yourpw").on("propertychange change keyup paste input", function(){  // 비밀번호 규칙 확인
			let pw = $("#yourpw").val();
			let num = pw.search(/[0-9]/g);
			let eng = pw.search(/[A-Za-z]/g);
			let spc = pw.search(/[!@#$%^&*]/g);

			if (pw.length < 4 || pw.length > 15) {
				$(this).css("border-color", "red");
				$("#pwft").css("color", "red");
				$("#pwft").text("4~15자리로 입력해 주세요.")
			}else if (pw.search(/\s/) != -1) {
				$(this).css("border-color", "red");
				$("#pwft").css("color", "red");
				$("#pwft").text("공백 없이 입력해 주세요.")
			}else if ( (num < 0 && eng < 0) || (num < 0 && spc < 0) || (eng < 0 && spc < 0) ) {
				$(this).css("border-color", "red");
				$("#pwft").css("color", "red");
				$("#pwft").text("영문자, 숫자, 특수문자(!@#$%^&*) 중 2가지 이상 혼합해 주세요.")
			}else {
				$(this).css("border-color", "green");
				$("#pwft").css("color", "green");
				$("#pwft").text("사용 가능한 비밀번호 입니다.")
			}
		}); // 비밀번호 규칙 확인

		$("#yourpw2").on("input", function () {  // 비밀번호 일치 확인
			const pw1 = $("#yourpw").val();
			const pw2 = $(this).val();
	
			if (pw1 !== pw2) {
					$(this).css("border-color", "red");
					$("#pwmore").css("color", "red");
					$("#pwmore").text("비밀번호가 일치하지 않습니다.");
				} else {
					$(this).css("border-color", "green");
					$("#pwmore").css("color", "green");
					$("#pwmore").text("비밀번호가 일치합니다.");
					pwtoken = "1"
				}

		}); // 비밀번호 일치 확인
			
		$("#youremail").on("input", function () {  // 이메일 조건 확인
			const email = $(this).val();
			const emailRegex = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i; //이메일 조건식
			
			if (!emailRegex.test(email)) {
				$(this).css("border-color", "red");
				$("#eemail").css("color", "red");
				$("#eemail").text("올바른 이메일 형식을 입력하세요.");
			} else {
				$(this).css("border-color", "green");
				$("#eemail").css("color", "green");
				$("#eemail").text("이메일 형식이 올바릅니다.");
				emailtoken = "1"
			}
		}); // 이메일 조건 확인
	

		$("#mon").click(function(){  // 가입 완료 버튼 클릭
			
			if(idtoken == "0"){
					alert('id 중복 확인을 해 주세요')
					return false;
				};
			if(pwtoken == "0"){
				alert('pw 입력 확인을 해 주세요')
				return false;
			};
			if(emailtoken == "0"){
				alert('email 입력 확인을 해 주세요')
				return false;
			};
			
			if(!$("input[name='gender']:checked").length) {  // 성별 선택을 했는지 확인
				alert("성별을 선택해 주세요.");
				return false;
			};
				
			let temp = 0 // 입력 항목 체크 변수
			$("input[required]").each(function(){ // 입력 항목 다 채웠는지 확인
				if(!$(this).val()) {
					alert($(this).attr("name") + "을(를) 입력해주세요");
					$(this).focus();
					temp=1;
					return false;
				};

			}); // 입력 항목 다 채웠는지 확인
			if (temp == 1){
				return false;
			};
			alert('가입이 완료되었습니다.')
			$("#memberform").submit();  // 입력된 정보 전송
		}); // 가입 완료 버튼 클릭


	})// 제이쿼리 선언
</script>


<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-12"	data-aos="fade-up" data-aos-delay="0">
				
				<h2 class="heading mb-5">Information Input</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
				<form action="/member/signcp/" method="POST" id="memberform">
					{% csrf_token %}
					<div class="row">
						<label>모두 필수 입력 항목입니다.</label>
						<div class="col-6 mb-3">
							<label></label><input type="text" class="form-control" placeholder="아이디를 입력해 주세요" id="yourid" name="아이디" required>
							<label></label><input type="password" class="form-control" placeholder="비밀번호를 입력해 주세요" id="yourpw" name="비밀번호" required>
							<label></label><input type="password" class="form-control" placeholder="비밀번호 확인" id="yourpw2" name="비밀번호2" required>
							<label></label><input type="text" class="form-control" placeholder="실명" id="realname" name="실명" required>
							<label></label><input type="text" class="form-control" placeholder="별명" id="nickName" name="별명" required>
							<br>
							<div class="gdst">
								<label><input type="radio" name="gender" id="male" value="male">남자</label>
								<label><input type="radio" name="gender" id="female" value="female">여자</label>
								<label><input type="radio" name="gender" id="other" value="other">기타</label>
							</div>
							
							<label></label><input type="text" class="form-control" placeholder="email" id="youremail" name="이메일" required>
						</div>
						<div class="col-6 mb-3">
							<br>
							<input type="button" value="중복확인" id="dup" class="btn btn-primary idchk">
							<br>
							<label></label><span class="form-control typex" id="pwft">비밀번호를 입력해 주세요</span>
							<label></label><span class="form-control typex" id="pwmore">비밀번호를 한 번 더 입력해 주세요</span>
							<label></label><span class="form-control typex">실명을 입력해 주세요</span>
							<label></label><span class="form-control typex">별명을 입력해 주세요</span>
							<label></label><span class="form-control typex">성별을 선택해 주세요</span>
							<label></label><span class="form-control typex" id="eemail">이메일을 입력해 주세요</span>
						</div>
						<div class="col-12">
							<input type="button" value="가입 완료" id="mon" class="btn btn-primary dpchk">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


{% endblock container-block  %}


