{% extends "base.html" %}
{% block container-block  %}


<div class="hero overlay">
	<div class="img-bg rellax">
		<img src="/static/images/hero_2.jpg" alt="Image" class="img-fluid">
	</div>
	<div class="container">
		<div class="row align-items-center justify-content-start">
			<div class="col-lg-6 mx-auto text-center">
				<h1 class="heading" data-aos="fade-up">Sign in</h1>
				<p data-aos="fade-up">사이트에 로그인하세요</p>
			</div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function () {
		const csrfToken = $("meta[name='csrf-token']").attr("content");
		$("#sBtn").click(function(){  //
			m_id = $("#id").val()
			m_password = $("#pw").val()
			if (m_id.length < 1 || m_password.length < 1) {
				alert('아이디 또는 패스워드를 입력해 주세요');
				return false;
			}
			saveId = $("#saveId").prop(":checked") ? "0" : "1";
			$.ajax({
				headers:{"X-CSRFToken":csrfToken},
				url:"/member/loginChk/",
				type:"post",
				data:{"m_id":m_id,"m_password":m_password,"saveId":saveId},
				success:function(data){
					if (data.result == "success"){
						alert("로그인이 되었습니다.")
						location.href = "/"
					}else{
						alert("아이디 또는 패스워드가 일치하지 않습니다. 다시 입력하세요.")
					}
				},
				error:function(){
					alert("실패")
				}
			})//ajax

			// input 초기화
			$("#id").val("") //input에 빈공백추가
			$("#pw").val("")
			$("#id").focus()

		})//btn
	})//jquery
</script>


<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-12"	data-aos="fade-up" data-aos-delay="0">
				<h2 class="heading mb-5">로그인</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
				<form action="{% url 'member:login' %}" method="post" name="loginFrm">
					<div class="row">
						<div class="col-6 mb-3">
							<input type="text" id="id" class="form-control loginType" placeholder="Id">
							<br>
							<input type="password" id="pw" class="form-control passType" placeholder="Password">
							<br>
						<div id="logbtm">
							<div id="idcoki">
								<input type='checkbox' name="saveId" id="saveId" value="1" {% if saveId %} checked {% endif %} >
								<label for="saveId">아이디저장</label>
							</div>	
						</div>	
					</div>	
					<div>
						<div class="mb-3_5">
							<input type="button" id="sBtn" value="로그인" class="btn btn-primary dpchk">
						</div>
					</div>
					<div id="scidpw">
						<p><a href="/member/srchid/">아이디 찾기</a></p>&nbsp;|&nbsp;<p><a href="/member/srchpw/">비밀번호 찾기</a></p>&nbsp;|&nbsp;<p><a href="/member/sigup01/">회원가입</a></p>
					</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock container-block  %}