<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인화면</title>
</head>
<body>
  <h1>메인화면</h1>
  <ul>

    <li><a href="/home/"> 홈 </a></li>
    <li><a href="/"> 메인화면 </a></li>
    {% if not request.session.session_m_id %}
    <li><a href="/member/login/"> 로그인 </a></li>
    <li><a href="/member/sigup01/"> 회원가입(약관) </a></li>
    <li><a href="/member/sigup02/"> 회원가입(정보입력) </a></li>
    <li><a href="/member/sigcomp/"> 가입 성공 </a></li>
    <li><a href="/member/srchid/"> 아이디 찾기 </a></li>
    <li><a href="/member/srchpw/"> 비밀번호 찾기 </a></li>
    <li><a href="/admin"> admin관리자 </a></li>
    {% else %}
    <li><a href="/member/logout/"> 로그아웃 </a></li>
    <li><a href="/member/meminfo/"> 회원정보 (mypage) 보기 </a></li>
    <li><a href="/member/memupd/"> 회원정보 (mypage) 수정 </a></li>
    {% endif %}
  </ul>




</body>
</html>