{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">
  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap5" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">
  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css'%}">
  <link rel="stylesheet" href="{% static 'css/tiny-slider.css'%}">
  <link rel="stylesheet" href="{% static 'css/aos.css'%}">
  <link rel="stylesheet" href="{% static 'css/flatpickr.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/glightbox.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <link rel="stylesheet" href="{% static 'css/content.css'%}"> <!--새로 추가 해야 됨-->

  <!--폰트 스타일-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Pen+Script&family=Parkinsans:wght@300..800&family=Yuji+Mai&display=swap" rel="stylesheet">
	<!--폰트 스타일-->

	<title>KOAT - 코리아트레블</title>

	<style>
  .food_div {
      font-family: "Black Han Sans", serif;
      margin-top: 300px;
      margin-bottom: 400px;
    }   

  #food_table{
      margin: 20px auto;
    }

  .food_img {
    width: 300px; /* 원하는 너비로 설정 */
    height: 300px; /* 원하는 높이로 설정 */
    object-fit: cover; /* 비율을 유지하면서 크기에 맞게 자르기 */
    display: block; /* 이미지를 블록 요소로 설정 (가운데 정렬 시 유용) */
    margin: 0 auto; /* 이미지 가운데 정렬 */
    
  }

  #food_td {
    
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }

  #kfood{
    font-family: "Nanum Pen Script", cursive;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 180px;
  }
	</style>
</head>
<body>

	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav mt-3">
		<div class="container">

			<div class="site-navigation">
				<div class="row">
					<div class="col-6 col-lg-3">
						<a href="/" class="logo m-0 float-start">KOAT</a>
					</div>
					<div class="col-lg-6 d-none d-lg-inline-block text-center nav-center-wrap">
						<ul class="js-clone-nav  text-center site-menu p-0 m-0">
							<li class="active"><a href="/">Home</a></li>
							<li class="has-children">
								<a href="#">지역/즐길거리</a>
								<ul class="dropdown">
									<li><a href="/location/location">지역</a></li>
									<li class="has-children">
										<a href="#">즐길거리</a>
										<ul class="dropdown">
											<li><a href="/food/eat/">한국 대표 음식</a></li>
											<li><a href="#">한국 문화 유산</a></li>
										</ul>
									</li>
									<li><a href="#">Menu Three</a></li>
								</ul>
							</li>
							<li><a href="/board/blist/">게시판</a></li>
								{% if request.session.session_m_auth == 0%}
									<li><a href="/admin/">admin</a></li>
								{% else %}
								{% endif %}
						</ul>
					</div>
					<div class="col-6 col-lg-3 text-lg-end">
						<ul class="js-clone-nav d-none d-lg-inline-block text-end site-menu ">
							{% if not request.session.session_m_id %}
							<li class="cta-button"><a href="/member/login/">로그인</a></li>
							{% else %}
							<li class="cta-button"><a href="/member/logout/">로그아웃</a></li>
							{% endif %}
						</ul>

						<a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
							<span></span>
						</a>
					</div>
				</div>
			</div>
			
		</div>
	</nav>

	

	<div class="hero overlay">

		<div class="img-bg rellax">
			<img src="/static/images/먹거리배경.jpg" alt="Image" class="img-fluid">
		</div>

		<div class="container">
			<div class="row align-items-center justify-content-start">
				<div class="col-lg-5">
					<h1 class="heading" data-aos="fade-up">K-Food</h1>
					<p class="mb-5" data-aos="fade-up">맛과 정이 담긴 한식의 세계로 초대합니다! 한국의 대표 음식을 만나보세요.</p>
				</div>
			</div>
		</div>
	</div>

	<!--사이드 바-->
	<div id="right_fixed">
		<div class="ai_chatting"></div>
		<div class="top"><a href="javascript:void(0);" onclick="openSmallWindow('/chatbot/bot/')">SKYNET과 대화</a></div>
	</div>
	<!--사이드 바-->
	<script>
	// 사이드바 자바스크립트
		function openSmallWindow(url) {
			window.open(url, 'AIChatWindow', 'width=470,height=900');
		}
		const video = document.getElementById('backvd');
		const controlBtn = document.getElementById('vdcont');
	// 사이드바 자바스크립트
	</script>
	
	<div id = title_icon>
		<img src="/static/images/favicon.png">
	</div>

  <div class="food_div" >
    <div>
      <h2 id ="kfood">※ 코리안 트레디셔널 푸드 ※</h2>
    </div>
    <table id="food_table">
      <tbody>
        {% for food in flist %}
            {% if forloop.counter0|divisibleby:3 %}
                <tr class="food_tr">
            {% endif %}
            <td id="food_td">
                <a href="/food/niku/{{ food.e_name }}/">
                    <img src="/static/images/{{ food.e_name }}.jpg" class="food_img">
                    {{ food.e_name }}
                </a>
            </td>
            {% if forloop.counter0|add:1|divisibleby:3 or forloop.last %}
                </tr>
            {% endif %}
        {% endfor %}
      </tbody>
    </table>
	</div>

	<div class="site-footer">
		<div class="container">

			<div class="row">

				<div class="col-lg-2 ml-auto">
					<div class="widget">
						<h3>유용한 링크</h3>
						<ul class="list-unstyled float-left links">
							<li><a href="https://www.skyscanner.co.kr/">비행기 예매</a></li>
							<li><a href="https://www.kobus.co.kr/main.do">버스 예매</a></li>
							<li><a href="https://www.mibankins.com/travel/">여행자 보험</a></li>
							<li><a href="https://www.weather.go.kr/w/index.do">한국 날씨</a></li>
							<li><a href="#">Q&A</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->

				<div class="col-lg-2">
					<div class="widget">
						<h3>사이트 기능</h3>
						<ul class="list-unstyled float-left links">
							<li><a href="#">About us</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->


				<div class="col-lg-3">
					<div class="widget">
						<h3>회사 주소</h3>
						<address>	101, Gasan digital 2-ro, Geumcheon-gu, Seoul, Republic of Korea</address>
						<ul class="list-unstyled links mb-4">
							<li><a href="tel://11234567890">Tel : +82(02)-2025-8523</a></li>
							<li><a href="tel://11234567890">Fax : +82(02)-2101-2154</a></li>
							<li><a href="mailto:info@mydomain.com">kosmo@ikosmo.co.kr</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->

				<div class="col-lg-4">
					<div class="widget">
						<h3>연락</h3>
						<ul class="list-unstyled social icoct">
							<li><a href="https://www.instagram.com/kto9suk9suk"><span class="icon-instagram"></span></a></li>
							<li><a href="https://x.com/kor_visitkorea"><span class="icon-twitter"></span></a></li>
							<li><a href="https://www.facebook.com/welcometoKTO"><span class="icon-facebook"></span></a></li>
							<li><a href="https://open.spotify.com/track/1IlMgzxAtjoNUPUmp8Omki?si=3d0feb86bdc54c9b"><span class="icon-spotify"></span></a></li>
							<li><a href="#"><span class="icon-pinterest"></span></a></li>
							<li><a href="#"><span class="icon-dribbble"></span></a></li>
						</ul>
					</div> <!-- /.widget -->
					{% comment %} <div class="widget">
						<h3>About Passport<span class="text-primary">.</span> </h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 --> {% endcomment %}

			</div> <!-- /.row -->

			<div class="row mt-5">
				<div class="col-12 text-center">
					<p class="mb-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> <!-- License information: https://untree.co/license/ -->
					</p>
				</div>
			</div> <!-- /.container -->
		</div> <!-- /.site-footer -->

		<!-- Preloader -->
		<div id="overlayer"></div>
		<div class="loader">
			<div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>


		<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
		<script src="{% static 'js/tiny-slider.js'%}"></script>
		<script src="{% static 'js/aos.js'%}"></script>
		<script src="{% static 'js/navbar.js'%}"></script>
		<script src="{% static 'js/counter.js'%}"></script>
		<script src="{% static 'js/rellax.js'%}"></script>
		<script src="{% static 'js/flatpickr.js'%}"></script>
		<script src="{% static 'js/glightbox.min.js'%}"></script>
		<script src="{% static 'js/custom.js'%}"></script>
	</body>
	</html>