{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">
  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap5" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">
  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css'%}">
  <link rel="stylesheet" href="{% static 'css/tiny-slider.css'%}">
  <link rel="stylesheet" href="{% static 'css/aos.css'%}">
  <link rel="stylesheet" href="{% static 'css/flatpickr.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/glightbox.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
	<link rel="stylesheet" href="{% static 'css/main_map_info.css'%}">
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ac0b6c80466a2f9f681b4021d09253c3"></script>
	<script type="module" src="/static/js/map copy.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<style>a{cursor: pointer;}</style>
	<title>KOAT - 코리아트레블</title>
</head>
<style>
	.jua-regular {
  font-family: "Jua", serif;
  font-weight: 400;
  font-style: normal;
}
</style>
<body>

	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav mt-3">
		<div class="container">

			<div class="site-navigation">
				<div class="row">
					<div class="col-6 col-lg-3">
						<a href="/" class="logo m-0 float-start">KOAT</a>
					</div>
					<div class="col-lg-6 d-none d-lg-inline-block text-center nav-center-wrap">
						<ul class="js-clone-nav  text-center site-menu p-0 m-0">
							<li class="active"><a href="/">Home</a></li>
							<li class="has-children">
								<a href="#">지역/즐길거리</a>
								<ul class="dropdown">
									<li><a href="/location/location" style="margin-bottom: 2px;">지역</a></li>
									<li class="has-children">
										<a href="#">즐길거리</a>
										<ul class="dropdown">
											<li><a href="/food/eat/">한국 대표 음식</a></li>
											<li><a href="/heritage/culture/">한국 문화 유산</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="/board/blist/">게시판</a></li>
							<li><a href="/package/plist">패키지</a></li>
							<li><a href="/shop/hotels/">숙박시설</a></li>
								{% if request.session.session_m_auth == 0%}
									<li><a href="/admin/">admin</a></li>
								{% else %}
								{% endif %}
						</ul>
					</div>
					<div class="col-6 col-lg-3 text-lg-end">
						<ul class="js-clone-nav d-none d-lg-inline-block text-end site-menu ">
							{% if not request.session.session_m_id %}
							<li class="cta-button"><a href="/member/login/">로그인</a></li>
							{% else %}
							<li href="/member/meminfo/" style="color: white; font-weight: 500;">회원정보</li>
							<li class="cta-button"><a href="/member/logout/">로그아웃</a></li>
							{% endif %}
						</ul>

						<a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
							<span></span>
						</a>
					</div>
				</div>
			</div>
			
		</div>
	</nav>

	<div class="hero overlay">

		<div class="img-bg rellax">
			{% comment %} <img src="/static/images/hero_1.jpg" alt="Image" class="img-fluid"> {% endcomment %}
			<video class="dvd-fluid" id="backvd" src="/static/videos/main_video.mp4" autoplay muted loop ></video>
		</div>

		<div class="container">
			<div class="row align-items-center justify-content-start">
				<div class="col-lg-5">

					<h1 class="heading" data-aos="fade-up">여행의 설렘과 추억이<br/> 시작되는 곳,<br/> KOAT에 오신 걸 환영합니다!</h1>
					<p class="mb-5" data-aos="fade-up">Where the excitement and memories of travel begin,<br/> Welcome to KOAT!</p>

					<div data-aos="">  <!--fade-up-->
						{% comment %} <a class="play-button align-items-center d-flex glightbox3" >  <!-- href="https://youtu.be/3P1CnWI62Ik?si=IqEDS-2dOJLLyPQ_"--> {% endcomment %}
							<span class="icon-button me-3" id="vdcont">▶
								{% comment %} <span class="icon-play" id="playIc" ></span>
								<span class="icon-pause" id="puseIc" ></span> {% endcomment %}
							</span>
							{% comment %} <span class="caption">Watch Video</span> {% endcomment %}
						{% comment %} </a> {% endcomment %}
					</div>
				</div>
			</div>
		</div>

		
	</div>

	<!--사이드 바-->
  <div id="right_fixed">
    <div class="ai_chatting"></div>
    <div class="top"><a href="javascript:void(0);" onclick="openSmallWindow('/chatbot/bot/')">SKYNET과 대화</a></div>
  </div>
	
  <!--사이드 바-->
  <script>
  // 사이드바 자바스크립트
		console.log('Script loaded successfully');
    function openSmallWindow(url) {
			console.log("Function called with URL: ", url);
      window.open(url, 'AIChatWindow', 'width=470,height=900');
    }
  // 사이드바 자바스크립트

	// 비디오 재생
		const video = document.getElementById('backvd');
		const controlBtn = document.getElementById('vdcont');

		controlBtn.addEventListener('click', () => {
				if (video.paused) {
						video.play();
						controlBtn.textContent = '▶';
				} else {
						video.pause();
						controlBtn.textContent = '■';
				}
		});
	// 비디오 재생
	</script>

	<div class="blank"></div>

	<div class="Map_API" style="width: 100%; height: 600px; background-color: #e9ecf0; display: flex; justify-content: center;">
    <!-- 설명 부분 50% -->
    <div style="width: 30%; height: 100%; padding: 10px; overflow-y: auto;">
        <!-- <h2 style="font-weight: 800; font-size: 45px; color: black;">한국의 지역</h2>	 -->
				<h2 id='descriptionText' class="jua-regular" style=" font-size: 70px; color: black; margin-bottom: 90px;"></h2>
				<!--<div id = 'main_info_image'></div>-->
				<section id="sliderType04">
						<div class="slider__wrap">
								<div id="slider__img" class="slider__img">
										<div class="slider__inner">
												<!-- 슬라이더 이미지가 JavaScript로 동적으로 추가됩니다. -->
										</div>
								</div>
								<div class="slider__btn">
										<a href="#" class="prev" role="button"></a>
										<a href="#" class="next" role="button"></a>
								</div>
						</div>
				</section>
    </div>

    <!-- 지도 표시 영역 50% -->
    <div id="map" style="width: 40%; height: 100%;"></div>
		<script>
			let mapContainer = document.getElementById('map'),
			mapOption = {
			center: new kakao.maps.LatLng(35.966826, 127.9786567),
			level: 13   
			};

			let map = new kakao.maps.Map(mapContainer, mapOption),
			customOverlay = new kakao.maps.CustomOverlay({});

			map.setZoomable(false);
			map.setDraggable(false);
		</script>
	</div>

	<div class="blank"></div>

	<div class="section section-3" data-aos="fade-up" data-aos-delay="100">
		<div class="container">
			<div class="row align-items-center justify-content-between  mb-5">
				<div class="col-lg-5" data-aos="fade-up">
					<h2 class="heading mb-3">인기 지역 / 먹거리 <br/>TOP 10</h2>
				</div>		
				<div class="col-lg-5 text-md-end" data-aos="fade-up" data-aos-delay="100">
					<div id="destination-controls">
						<span class="prev me-3" data-controls="prev">
							<span class="icon-chevron-left"></span>

						</span>
						<span class="next" data-controls="next">
							<span class="icon-chevron-right"></span>

						</span>
					</div>
				</div>
			</div>	

		</div>		

		<!-- 인기 여행지/먹거리 top 10 -->

		<div class="destination-slider-wrap">
			<div class="destination-slider">
				{% if popularity %}
				{% for popular in popularity%}
				<div class="destination">
					<a href="{% if popular.l_location %}/location/up/{{popular.l_location}}/{% elif popular.f_name %}/food/niku/{{popular.f_name}}/{% endif %}">
					<div class="thumb">
							<img src="{% if popular.l_file %}{{ popular.l_file.url }}{% elif popular.f_file %}{{ popular.f_file.url }}{% endif %}" 
							alt="{% if popular.l_file %}{{ popular.l_file.name }}{% elif popular.f_file %}{{ popular.f_file.name }}{% endif %}" class="img-fluid"
							style="height: 300px;">
							<div class="price">TOP {{ forloop.counter }} </div>
						</div>
					</a>
					<div class="mt-4">
						<h3><a href="{% if popular.l_location %}/location/up/{{popular.l_location}}/{% elif popular.f_name %}/food/niku/{{popular.f_name}}/{% endif %}">
							{% if popular.l_location %}{{ popular.l_location }}{% elif popular.f_name %}{{ popular.f_name }}{% endif %}</a>
						</h3>
						<span class="meta"> {% if popular.l_description %}{{ popular.l_description|truncatechars:150 }}{% elif popular.f_description %}{{ popular.f_description|truncatechars:150 }}{% endif %}</span>
					</div>
				</div>
				{% endfor %}
				{% endif %}
			</div>
		</div>

	</div>

	<!-- //인기 여행지/먹거리 top 10 -->
	<div class="blank"></div>
	<!-- 최신/인기글 top 6 -->

	<div class="section">
		<div class="container">

			<div class="row" style="display: flex; justify-content: space-between; align-items: center;">
				<div class="col-6"data-aos="fade-up" data-aos-delay="0">
					<h2 class="heading mb-5">최신글</h2>
					<div class="row align-items-stretch">
						{% if recents %}
						{% for recent in recents %}
						<div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
							<div class="media-entry">
								{% with recent.b_file.all|first as r_first_file %}
									{% if r_first_file %}
										<a href="/board/bview/{{recent.b_no}}/">
											<img src="{{ r_first_file.b_file.url }}" alt="{{ r_first_file.b_file.name }}" class="img-fluid rounded" style = "height: 200px;">
										</a>
									{% else %}
										<a href="/board/bview/{{recent.b_no}}/">
											<img src="/static/images/no_image.png" alt="No Image" class="img-fluid rounded">
										</a>
									{% endif %}
								{% endwith %}
								<div class="bg-white m-body">
									<span class="date">{{recent.b_date|date:'Y-m-d'}}</span>
									<h3><a href="/board/bview/{{recent.b_no}}/">{{recent.b_title}}</a></h3>
									<p>{{recent.b_header}}</p>
									<a href="/board/bview/{{recent.b_no}}/" class="more d-flex align-items-center float-start">
										<span class="label">더 보기</span>
									</a>
								</div>
							</div>
						</div>
						{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-6"data-aos="fade-up" data-aos-delay="0">
					<h2 class="heading mb-5">인기글</h2>
					<div class="row align-items-stretch">
						{% if likes %}
							{% for like in likes %}
								<div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
									<div class="media-entry">
										{% with like.b_file.all|first as first_file %}
											{% if first_file %}
												<a href="/board/bview/{{like.b_no}}/">
													<img src="{{ first_file.b_file.url }}" alt="{{ first_file.b_file.name }}" class="img-fluid rounded" style = "height: 200px;">
												</a>
											{% else %}
												<a href="/board/bview/{{like.b_no}}/">
													<img src="/static/images/no_image.png" alt="No Image" class="img-fluid rounded">
												</a>
											{% endif %}
										{% endwith %}
										<div class="bg-white m-body">
											<span class="date">{{like.b_date|date:'Y-m-d'}}</span>
											<h3><a href="/board/bview/{{like.b_no}}/">{{like.b_title}}</a></h3>
											<p>{{like.b_header}}</p>
											<a href="/board/bview/{{like.b_no}}/" class="more d-flex align-items-center float-start">
												<span class="label">더 보기</span>
											</a>
										</div>
									</div>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>

			</div>	
		</div>		
	</div>

	<!-- // 최신/인기글 top 6 -->
	<!--항공권 조회 위젯-->
	<div><script async src="https://tp.media/content?trs=371158&shmarker=590940&locale=en&curr=USD&powered_by=true&border_radius=0&plain=true&color_button=%23f17945&color_button_text=%23ffffff&color_border=%23f17945&promo_id=4132&campaign_id=121" charset="utf-8"></script></div>
	<!-- <div class='blank'></div> -->
	<!-- footer -->

	<div class="site-footer">
		<div class="container">

			<div class="row">

				<div class="col-lg-2 ml-auto">
					<div class="widget">
						<h3>유용한 링크</h3>
						<ul class="list-unstyled float-left links">
							<li><a href="https://www.skyscanner.co.kr" target="_blank">비행기 예매</a></li>
							<li><a href="https://www.kobus.co.kr/main.do" target="_blank">버스 예매</a></li>
							<li><a href="https://www.mibankins.com/travel/" target="_blank">여행자 보험</a></li>
							<li><a href="https://www.weather.go.kr/w/index.do" target="_blank">한국 날씨</a></li>
							<li><a href="#">Q&A</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->

				<div class="col-lg-2">
					<div class="widget">
						<h3>사이트 기능</h3>
						<ul class="list-unstyled float-left links">
							<li><a href="#">About us</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->


				<div class="col-lg-3">
					<div class="widget">
						<h3>회사 주소</h3>
						<address>	101, Gasan digital 2-ro, Geumcheon-gu, Seoul, Republic of Korea</address>
						<ul class="list-unstyled links mb-4">
							<li><a href="tel://11234567890">Tel : +82(02)-2025-8523</a></li>
							<li><a href="tel://11234567890">Fax : +82(02)-2101-2154</a></li>
							<li><a href="mailto:info@mydomain.com">kosmo@ikosmo.co.kr</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->

				<div class="col-lg-4">
					<div class="widget">
						<h3>연락</h3>
						<ul class="list-unstyled social icoct">
							<li><a href="https://www.instagram.com/kto9suk9suk" target="_blank"><span class="icon-instagram"></span></a></li>
							<li><a href="https://x.com/kor_visitkorea" target="_blank"><span class="icon-twitter"></span></a></li>
							<li><a href="https://www.facebook.com/welcometoKTO" target="_blank"><span class="icon-facebook"></span></a></li>
							<li><a href="https://open.spotify.com/playlist/37i9dQZF1DX8cV4ZaSfaxp?si=O-Kks4DGTTqkJppox1mdVg" target="_blank"><span class="icon-spotify"></span></a></li>
							<li><a href="https://korean.visitkorea.or.kr/main/main.do"><span class="icon-local_airport"></span></a></li>
							<li><a href="https://map.naver.com/"><span class="icon-map-marker"></span></a></li>
						</ul>
					</div> <!-- /.widget -->
					{% comment %} <div class="widget">
						<h3>About Passport<span class="text-primary">.</span> </h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 --> {% endcomment %}

			</div> <!-- /.row -->

			<div class="row mt-5">
				<div class="col-12 text-center">
					<p class="mb-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> <!-- License information: https://untree.co/license/ -->
					</p>
				</div>
			</div> <!-- /.container -->
		</div> <!-- /.site-footer -->

		<!-- Preloader -->
		<div id="overlayer"></div>
		<div class="loader">
			<div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>


		<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
		<script src="{% static 'js/tiny-slider.js'%}"></script>
		<script src="{% static 'js/aos.js'%}"></script>
		<script src="{% static 'js/navbar.js'%}"></script>
		<script src="{% static 'js/counter.js'%}"></script>
		<script src="{% static 'js/rellax.js'%}"></script>
		<script src="{% static 'js/flatpickr.js'%}"></script>
		<script src="{% static 'js/glightbox.min.js'%}"></script>
		<script src="{% static 'js/custom.js'%}"></script>
	</body>
	</html>
