{% extends "bbase.html" %}
{% block container-block %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">
  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap5" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">
  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css'%}">
  <link rel="stylesheet" href="{% static 'css/tiny-slider.css'%}">
  <link rel="stylesheet" href="{% static 'css/aos.css'%}">
  <link rel="stylesheet" href="{% static 'css/flatpickr.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/glightbox.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css'%}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/layout.css'%}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/content.css'%}" />
	<script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/top_navi.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/left_navi.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/main.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/common.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/idangerous.swiper-2.1.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.anchor.js'%}"></script>
	<title>KOAT - 코리아트레블</title>

<script type="text/javascript">
	if('{{dmsg}}' != ''){
		alert('{{dmsg}}번 게시글이 삭제되었습니다.')
		location.href='/board/blist/'
	}

</script>
</head>
<body>
	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav mt-3">
		<div class="container">

			<div class="site-navigation">
				<div class="row">
					<div class="col-6 col-lg-3">
						<a href="/" class="logo m-0 float-start">KOAT</a>
					</div>
					<div class="col-lg-6 d-none d-lg-inline-block text-center nav-center-wrap">
						<ul class="js-clone-nav  text-center site-menu p-0 m-0">
							<li class="active"><a href="/">Home</a></li>
							<li class="has-children">
								<a href="#">지역/즐길거리</a>
								<ul class="dropdown">
									<li><a href="/location/location" style="margin-bottom: 2px;">지역</a></li>
									<li class="has-children">
										<a href="#">즐길거리</a>
										<ul class="dropdown">
											<li><a href="/food/eat/">한국 대표 음식</a></li>
											<li><a href="/heritage/culture/">한국 문화 유산</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="/board/blist/">게시판</a></li>
							<li><a href="/package/plist">패키지</a></li>
							<li><a href="/shop/hotels/">숙박시설</a></li>
								{% if request.session.session_m_auth == 0%}
									<li><a href="/admin/">admin</a></li>
								{% else %}
								{% endif %}
						</ul>
					</div>
					<div class="col-6 col-lg-3 text-lg-end">
						<ul class="js-clone-nav d-none d-lg-inline-block text-end site-menu ">
							{% if not request.session.session_m_id %}
							<li class="cta-button"><a href="/member/login/">로그인</a></li>
							{% else %}
							<li class="cta-button"><a href="/member/logout/">로그아웃</a></li>
							{% endif %}
						</ul>

						<a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
							<span></span>
						</a>
					</div>
				</div>
			</div>
			
		</div>
	</nav>
	<div class="hero overlay">

		<div class="img-bg rellax">
			<img src="/static/images/hero_1.jpg" alt="Image" class="img-fluid">
		</div>

		<div class="container">
			<div class="row align-items-center justify-content-start">
				<div class="col-lg-5">

					<h1 class="heading" data-aos="fade-up" style="margin-bottom: 15px;">여행 후기</h1>
					<p class="mb-5" data-aos="fade-up">여행의 추억을 공유하고, 다른 사람들과 함께 설렘을 나눠보세요!</p>

					<div data-aos="fade-up">
						<a href="https://www.youtube.com/watch?v=5n-e6lOhVq0" class="play-button align-items-center d-flex glightbox3" >
						</a>
					</div>
				</div>

				
			</div>
		</div>

	<!--사이드 바-->
	<div id="right_fixed">
		<div class="ai_chatting"></div>
		<div class="top"><a href="javascript:void(0);" onclick="openSmallWindow('/chatbot/bot/')">SKYNET과 대화</a></div>
	</div>
	<!--사이드 바-->
	<script>
	// 사이드바 자바스크립트
		function openSmallWindow(url) {
			window.open(url, 'AIChatWindow', 'width=470,height=900');
		}
		const video = document.getElementById('backvd');
		const controlBtn = document.getElementById('vdcont');
	// 사이드바 자바스크립트
	</script>

	</div>
	<!-- container -->
	<div id="container">
		<div id="location">
			<ol>
				<li><a href="/">HOME</a></li>
				<li><a href="/board/blist/">여행 후기게시판</a></li>
			</ol>
		</div>
		
		<div id="outbox">		
			<div id="left">
				<div id="title2"><a>게시판<span>Board</span></div>
			</div><script type="text/javascript">initSubmenu(2,0);</script>


			<!-- contents -->
			<div id="contents">
				<div id="mypage">
					<h2><strong>여행 후기 게시판</strong>
						<span>{{request.session.session_m_nickName}}님의 특별했던 순간과 경험을 후기로 공유해보자!!</span></h2>
					<div class="searchWrap">
						<form method='get' action="{% url 'board:blist' %}">
							<div class="search">
								<ul>
									<li class="web"><img src="/static/images/txt/txt_search.gif" alt="search" /></li>
									<li class="se">
										<select name='type'>
											<option value="b_title" {% if searchType == "b_title" %}selected{% endif %}>제목</option>
											<option value="b_content" {% if searchType == "b_content" %}selected{% endif %}>내용</option>
											<option value="b_title_content" {% if searchType == "b_title_content" %}selected{% endif %}>제목+내용</option>
										</select>
									</li>
									<li><input type="text" name='cl' class="searchInput" /></li>
									<li class="web">
                    <button type="submit"><img src="/static/images/btn/btn_search.gif" alt="검색" /></button>
                	</li>
                	<li class="mobile">
                    <button type="submit"><img src="/static/images/btn/btn_search_m.gif" alt="검색" /></button>
                	</li>
								</ul>
							</div>
						</form>
					</div>

					<div class="productTab normaltab">
						<ul>
							<a></a>
							<li><a href="/board/blist/" class = "{% if not request.GET.b_header %}on{% endif %}">전체</a></li>
							<li><a href="/board/blist/?b_header=인기" class="{% if request.GET.b_header == '인기' %}on{% endif %}">인기</a></li>
							<li><a href="/board/blist/?b_header=지역" class="{% if request.GET.b_header == '지역' %}on{% endif %}">지역</a></li>
							<li><a href="/board/blist/?b_header=관광지" class="{% if request.GET.b_header == '관광지' %}on{% endif %}">관광지</a></li>
							<li><a href="/board/blist/?b_header=먹거리/맛집" class="{% if request.GET.b_header == '먹거리/맛집' %}on{% endif %}">먹거리/맛집</a></li>
						</ul>						
					</div>
					

					<!-- 포토 구매후기 -->
					<div class="imgListType">
						<ul>
							
							<!-- List -->
							{% if blist %}
								{% for board in blist %}
							<li>
								<div class="img">
									{% with board.b_file.all|first as first_file %}
										{% if first_file %}
												<a href='/board/bview/{{board.b_no}}/'><img src="{{ first_file.b_file.url }}" width="155" height="160" alt="{{ first_file.b_file.name }}" /></a>
										{% else %}
												<img src="/static/images/no_image.png" width="155" height="160" alt="No Image" />
										{% endif %}
									{% endwith %}
								</div>	
								<div class="txt">
									<div class="subject">
										<a href="/board/bview/{{board.b_no}}/"><span class="orange">[{{board.b_header}}]</span> {{board.b_title}} <span style="color : #f94b4b;">[{{board.comment_count}}]</span></a>
									</div>
									<div class="conf">
										<a href='/board/bview/{{board.b_no}}/'>
											{{board.b_content|safe}}
										</a>
									</div>
									<div class="data">
										<p>작성자 <span>{{board.member.m_nickName}}</span></p>
										<p>등록일 <span>{{board.b_date}}</span></p>
										<p>조회수 <span>{{board.b_hit}}</span></p>
										<p>좋아요 <span>{{board.b_like_members.count}}</span></p>
									</div>
								</div>
							</li>
								{% endfor %}
							{% else %}
							<li>
								<div class="txt">
									<div class="subject">
										<span class="orange"></span>데이터가 없습니다.
									</div>
								</div>
							</li>
							{% endif %}
						</ul>
					</div>

					<div class="searchWrap">
						<form method='get' action="{% url 'board:blist' %}">
							<div class="search">
								<ul>
									<li class="web"><img src="/static/images/txt/txt_search.gif" alt="search" /></li>
									<li class="se">
										<select name='type'>
											<option value="b_title" {% if searchType == "b_title" %}selected{% endif %}>제목</option>
											<option value="b_content" {% if searchType == "b_content" %}selected{% endif %}>내용</option>
											<option value="b_title_content" {% if searchType == "b_title_content" %}selected{% endif %}>제목+내용</option>
										</select>
									</li>
									<li><input type="text" name='cl' class="searchInput" /></li>
									<li class="web">
                    <button type="submit"><img src="/static/images/btn/btn_search.gif" alt="검색" /></button>
                	</li>
                	<li class="mobile">
                    <button type="submit"><img src="/static/images/btn/btn_search_m.gif" alt="검색" /></button>
                	</li>
								</ul>
							</div>
						</form>
					</div>

					<script>
						$(function(){
							$('.sbtnMini').click(function(){
								if("{{request.session.session_m_id}}" == ''){
									alert('로그인을 하셔야 글쓰기가 가능합니다.')
									location.href='/member/login/'
									return false;
								}
							});
						});
					</script>
					<div class="btnAreaList">
						<div class="bwright">
							<ul>
								<li><a href="/board/bwrite/" class="sbtnMini">글쓰기</a></li>
							</ul>
						</div>

						<!-- 페이징이동1 -->
						<div class="allPageMoving1">

						{% if blist.has_previous %}
						<a href="/board/blist/?npage=1" class="n"><img src="/static/images/btn/btn_pre2.gif" alt="처음으로"/></a>
						<a href="/board/blist/?npage={{blist.previous_page_number}}" class="pre"><img src="/static/images/btn/btn_pre1.gif" alt="앞페이지로"/></a>
						{% else %}
						<a href="#" class="n"><img src="/static/images/btn/btn_pre2.gif" alt="처음으로"/></a>
						<a href="#" class="pre"><img src="/static/images/btn/btn_pre1.gif" alt="앞페이지로"/></a>
						{% endif %}

						{% for page in blist.paginator.page_range %}
							{% if page != npage %}
								<a href="/board/blist/?npage={{page}}">{{page}}</a>
							{% else %}
								<strong>{{page}}</strong>
							{% endif %}
						{% endfor %}

						{% if blist.has_next %}
						<a href="/board/blist/?npage={{blist.next_page_number}}" class="next"><img src="/static/images/btn/btn_next1.gif" alt="뒤페이지로"/></a>
						<a href="/board/blist/?npage={{blist.paginator.num_pages}}" class="n"><img src="/static/images/btn/btn_next2.gif" alt="마지막페이지로"/></a>
						{% else %}
						<a href="#" class="next"><img src="/static/images/btn/btn_next1.gif" alt="뒤페이지로"/></a>
						<a href="#" class="n"><img src="/static/images/btn/btn_next2.gif" alt="마지막페이지로"/></a>
						{% endif %}
						</div>
						<!-- //페이징이동1 -->
					</div>


				</div>
			</div>
			<!-- //contents -->

		</div>
	</div>
	<!-- //container -->
	{% endblock container-block %}