{% extends "bbase.html" %}
{% block container-block %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
	<script src='http://code.jquery.com/jquery-latest.min.js'></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">
  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap5" />
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="JARDIN SHOP" />
	<meta name="keywords" content="JARDIN SHOP" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scaleable=no" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">
  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css'%}">
  <link rel="stylesheet" href="{% static 'css/tiny-slider.css'%}">
  <link rel="stylesheet" href="{% static 'css/aos.css'%}">
  <link rel="stylesheet" href="{% static 'css/flatpickr.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/glightbox.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">

	<link rel="stylesheet" type="text/css" href="{%static '/css/reset.css'%}" />
	<link rel="stylesheet" type="text/css" href="{%static '/css/layout.css'%}" />
	<link rel="stylesheet" type="text/css" href="{%static '/css/content.css'%}" />
	<script type="text/javascript" src="{%static '/js/jquery.min.js'%}"></script>
	<script type="text/javascript" src="{%static '/js/top_navi.js'%}"></script>
	<script type="text/javascript" src="{%static '/js/left_navi.js'%}"></script>
	<script type="text/javascript" src="{%static '/js/main.js'%}"></script>
	<script type="text/javascript" src="{%static '/js/common.js'%}"></script>
	<script type="text/javascript" src="{%static '/js/jquery.easing.1.3.js'%}"></script>
	<script type="text/javascript" src="{%static '/js/idangerous.swiper-2.1.min.js'%}"></script>
	<script type="text/javascript" src="{%static '/js/jquery.anchor.js'%}"></script>
	<title>KOAT - 코리아트레블</title>

	<!--썸머노트 스크립트-->
	<!-- include libraries(jQuery, bootstrap) -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<!-- include summernote css/js -->
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.js"></script>
	<!--썸머노트 스크립트-->
	<script>
		if ('{{wmsg}}'!='') {
			alert("게시글이 입력 되었습니다.")
			location.href="/board/blist/"
		}

		$(function(){
      $(".sbtnMini").click(function(){
        if($("#b_title").val().length<2){
          alert("게시글 제목을 작성해 주세요")
          $("#b_title").focus()
          return false;
        }
        writeFrm.submit()
      })
    })
	</script>
</head>
<body>
	

	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav mt-3">
		<div class="container">

			<div class="site-navigation">
				<div class="row">
					<div class="col-6 col-lg-3">
						<a href="/" class="logo m-0 float-start">KOAT</a>
					</div>
					<div class="col-lg-6 d-none d-lg-inline-block text-center nav-center-wrap">
						<ul class="js-clone-nav  text-center site-menu p-0 m-0">
							<li class="active"><a href="/">Home</a></li>
							<li class="has-children">
								<a href="#">지역/즐길거리</a>
								<ul class="dropdown">
									<li><a href="/location/location">지역</a></li>
									<li class="has-children">
										<a href="#">즐길거리</a>
										<ul class="dropdown">
											<li><a href="/food/eat/">한국 대표 음식</a></li>
											<li><a href="#">한국 문화 유산</a></li>
										</ul>
									</li>
									<li><a href="#">Menu Three</a></li>
								</ul>
							</li>
							<li><a href="/board/blist/">게시판</a></li>
								{% if request.session.session_m_auth == 0%}
									<li><a href="/admin/">admin</a></li>
								{% else %}
								{% endif %}
						</ul>
					</div>
					<div class="col-6 col-lg-3 text-lg-end">
						<ul class="js-clone-nav d-none d-lg-inline-block text-end site-menu ">
							{% if not request.session.session_m_id %}
							<li class="cta-button"><a href="/member/login/">로그인</a></li>
							{% else %}
							<li class="cta-button"><a href="/member/logout/">로그아웃</a></li>
							{% endif %}
						</ul>

						<a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
							<span></span>
						</a>
					</div>
				</div>
			</div>
			
		</div>
	</nav>

	

	<div class="hero overlay">

		<div class="img-bg rellax">
			<img src="/static/images/hero_2.jpg" alt="Image" class="img-fluid">
		</div>
		<div class="container">
			<div class="row align-items-center justify-content-start">
				<div class="col-lg-6 mx-auto text-center">

					<h1 class="heading" data-aos="fade-up">Blog</h1>
					<p class="mb-4" data-aos="fade-up">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

					<div data-aos="fade-up">
						<a href="https://www.youtube.com/watch?v=5n-e6lOhVq0" class="play-button glightbox3 w-100 text-center" >
							<div class="d-inline-flex align-items-center ">
								<span class="icon-button me-3">
									<span class="icon-play"></span>
								</span>
								<span class="caption">Watch Video</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- container -->	
	<div id="container">
		<div id="location">
			<ol>
				<li><a href="/">HOME</a></li>
				<li><a href="/board/blist/">게시판</a></li>
				<li class="last">여행 후기</li>
			</ol>
		</div>
		
		<div id="outbox">		
			<div id="left">
				<div id="title2">게시판<span>Board</span></div>			
			</div><script type="text/javascript">initSubmenu(2,0);</script>
			

			<!-- contents -->
			<div id="contents">
				<div id="mypage">
					<h2><strong>게시글 작성</strong></h2>
					
					
					<div class="checkDivTab">
						<form action="/board/bwrite/" name="writeFrm" method="post" enctype="multipart/form-data">	
							{% csrf_token %}
							<table summary="분류, 구매여부, 평가, 제목, 상세 내용 순으로 상품평을 작성 하실수 있습니다." class="checkTable" border="1" cellspacing="0">
								<caption>상품평 작성</caption>
								<colgroup>
								<col width="19%" class="tw30" />
								<col width="*" />
								</colgroup>
								<tbody>
									<!-- 분류 -->
									<tr>
											<th scope="row"><span>분류</span></th>
											<td>
													<ul class="pta">
															<li class="pt5">
																	<select name='b_header' id='b_header'>
																			<option value="">선택</option>
																			<option value="지역">지역</option>
																			<option value="관광지">관광지</option>
																			<option value="먹거리/맛집">먹거리/맛집</option>
																	</select>
															</li>
													</ul>
											</td>
									</tr>
																		
									<!-- 제목 -->
									<tr>
											<th  scope="row"><span>제목</span></th>
											<td>
													<input type="text" name="b_title" class="wlong" id = 'b_title' />
											</td>
									</tr>

									{% comment %} <!-- 작성자 -->
									<tr>
										<th  scope="row"><span>작성자</span></th>
										<td>
												{{request.session.session_m_nickName}}
										</td>
								</tr> {% endcomment %}
									
									<!-- 상세 내용 -->
									<tr>
											<th scope="row"><span>상세 내용</span></th>
											<td>
													<!-- summernote를 위한 textarea -->
													<textarea id="summernote" name='b_content'></textarea>
											</td>
									</tr>
									
									<!-- 이미지 파일 업로드 -->
									<tr>
										<th scope="row"><span>이미지 파일</span></th>
										<td>
												<input type="file" name="b_file" class="fileType" onchange="readURL(this)" multiple>
												<input type="checkbox" name="delete_image" id="delete_image">
												<label for="delete_image">이미지를 전체를 삭제합니다</label>
										</td>
									</tr>

									<!-- 이미지 미리보기 -->
									<tr>
											<th><span>이미지</span></th>
											<td id="txt">
													<div id="image_previews"></div>  <!-- 미리보기할 이미지들이 나오는 div -->
											</td>
									</tr>							
							<script>
										// 여러 이미지 미리보기
										function readURL(input) {
											const previewContainer = document.getElementById('image_previews');
											previewContainer.innerHTML = ''; // 기존 미리보기 이미지들 초기화
									
											// 선택된 파일들 처리
											if (input.files && input.files.length) {
													for (let i = 0; i < input.files.length; i++) {
															const reader = new FileReader(); // FileReader 객체 생성
															reader.onload = function(e) {
																	// 미리보기 이미지 컨테이너 생성
																	const imageContainer = document.createElement('div');
																	const imgElement = document.createElement('img');
																	imgElement.style.width = '300px';
																	imgElement.style.border = '1px solid #ccc';
																	imgElement.src = e.target.result; // 이미지 데이터를 미리보기로 설정
																	imgElement.alt = "이미지 미리보기";
									
																	imageContainer.appendChild(imgElement);
																	previewContainer.appendChild(imageContainer); // 미리보기와 체크박스를 div에 추가
															};
															reader.readAsDataURL(input.files[i]); // 각 파일을 DataURL로 읽음
													}
											}
									}


								//Summernote 초기화 스크립트
									$(document).ready(function() {
											$('#summernote').summernote({
													height: 300,                 // 에디터 높이
													minHeight: 200,             // 최소 높이
													maxHeight: 400,             // 최대 높이
													focus: true,                 // 에디터 로딩 후 포커스를 맞출지 여부
													lang: "ko-KR",               // 한글 설정
													placeholder: '내용을 입력하세요.', // placeholder 설정

													toolbar: [
													// [groupName, [list of button]]
													['fontname', ['fontname']],
													['fontsize', ['fontsize']],
													['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
													['color', ['forecolor','color']],
													['table', ['table']],
													['para', ['ul', 'ol', 'paragraph']],
													['height', ['height']],
													['insert',['picture','link','video']],
													['view', ['fullscreen', 'help']]
													],
													fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
													fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],
											});
									});
							</script>
							</table>
						</div>

						<!-- Btn Area -->
						<div class="btnArea">
							<div class="bCenter">
								<ul>																
									<li><a class="sbtnMini" >확인</a></li>
									<li><a onclick="javascript:location.href='/board/blist/'" class="nbtnbig">취소</a></li>
								</ul>
							</div>
						</form>
					</div>
					<!-- //Btn Area -->
					 
				</div>
			</div>
			<!-- //contents -->


		</div>
	</div>
	<!-- //container -->
	{% endblock container-block %}