{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Untree.co">
	<meta name="csrf-token" content="{{ csrf_token }}">
  <link rel="shortcut icon" href="favicon.png">
  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap5" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">
  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css'%}">
  <link rel="stylesheet" href="{% static 'css/tiny-slider.css'%}">
  <link rel="stylesheet" href="{% static 'css/aos.css'%}">
  <link rel="stylesheet" href="{% static 'css/flatpickr.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/glightbox.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <link rel="stylesheet" href="{% static 'css/content.css'%}"> <!--새로 추가 해야 됨-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
	<title>KOAT - 코리아트레블</title>

	<style>
		/*상단 글 스타일*/
		#text_div{
			width:45%;
			margin: 150px auto;
		}


		#font{
			font-weight: 700;
			font-size: 40px;
		}


/*주요관광지 스타일*/
		#traveltable {	
			margin: 50px auto;   
      table-layout: fixed; /* 셀 크기를 고정 */
		}
		
		#traveltable tr .traveltitle{text-align: left; border:None;}

		.traveltd {
				width: 550px;
				padding: 10px;
				vertical-align: top; /* 이미지와 텍스트 정렬 */
				text-align: center;
				
		}

		.image-container {
				display: flex; /* 이미지와 텍스트를 나란히 배치 */
				flex-direction: row;
				align-items: center; /* 이미지와 이름 수직 정렬 */
				gap: 20px; /* 이미지와 텍스트 간의 간격 */
		}

		.image-info {
				text-align: left; /* 텍스트를 왼쪽 정렬 */
		}

		.image-info .name {
				font-weight: bold;
				font-size: 16px;
				margin-bottom: 10px;
		}

		.image-info .description {
				font-size: 14px;
				color: #666; /* 설명 텍스트 색상 */
		}

		.city_img {
				width: 200px; /* 이미지 크기 */
				height: 150px;
				object-fit: cover; /* 비율 유지 */
				border-radius: 5px; /* 이미지 둥근 모서리 */
		}


		.l_great #l_thumbs_up {
			font-size: 50px;
			color: #C44747;
		}
		/* 좋아요 부분 */
		.l_great .l_g_count {
			font-size: 20px; font-weight: 700;
			margin: 0; /* 기본 여백 제거 */
			padding-left: 20px;
			color: #C44747;
		}

	</style>
</head>


<body>

	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav mt-3">
		<div class="container">

			<div class="site-navigation">
				<div class="row">
					<div class="col-6 col-lg-3">
						<a href="/" class="logo m-0 float-start">KOAT</a>
					</div>
					<div class="col-lg-6 d-none d-lg-inline-block text-center nav-center-wrap">
						<ul class="js-clone-nav  text-center site-menu p-0 m-0">
							<li class="active"><a href="/">Home</a></li>
							<li class="has-children">
								<a href="#">지역/즐길거리</a>
								<ul class="dropdown">
									<li><a href="/location/location">지역</a></li>
									<li class="has-children">
										<a href="#">즐길거리</a>
										<ul class="dropdown">
											<li><a href="/food/eat/">한국 대표 음식</a></li>
											<li><a href="#">한국 문화 유산</a></li>
										</ul>
									</li>
									<li><a href="#">Menu Three</a></li>
								</ul>
							</li>
							<li><a href="/board/blist/">게시판</a></li>
								{% if request.session.session_m_auth == 0%}
									<li><a href="/admin/">admin</a></li>
								{% else %}
								{% endif %}
						</ul>
					</div>
					<div class="col-6 col-lg-3 text-lg-end">
						<ul class="js-clone-nav d-none d-lg-inline-block text-end site-menu ">
							{% if not request.session.session_m_id %}
							<li class="cta-button"><a href="/member/login/">로그인</a></li>
							{% else %}
							<li class="cta-button"><a href="/member/logout/">로그아웃</a></li>
							{% endif %}
						</ul>

						<a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
							<span></span>
						</a>
					</div>
				</div>
			</div>
			
		</div>
	</nav>

	<!--사이드 바-->
	<div id="right_fixed">
		<div class="ai_chatting"></div>
		<div class="top"><a href="javascript:void(0);" onclick="openSmallWindow('/chatbot/bot/')">SKYNET과 대화</a></div>
	</div>
	<!--사이드 바-->
	<script>
	// 사이드바 자바스크립트
		function openSmallWindow(url) {
			window.open(url, 'AIChatWindow', 'width=470,height=900');
		}
		const video = document.getElementById('backvd');
		const controlBtn = document.getElementById('vdcont');
	// 사이드바 자바스크립트
	</script>
	
	<div class="hero overlay">

		<div class="img-bg rellax">
			{% for locate in location %}
				<img src="{{locate.l_file.url}}" alt="Image" class="img-fluid">
		</div>
		<script>

		</script>

		<div class="container">
			<div class="row align-items-center justify-content-start">
				<div class="col-lg-5">
					
					<h1 class="heading" data-aos="fade-up">{{locate.l_location}}</h1>
					
					<p class="mb-5" data-aos="fade-up">{{locate.l_subtitle}}</p>
					{% endfor %}

					<!-- 좋아요 부분 -->
					 <div class='l_great'>
						 <a id='l_greatBtn'>
							 <span id="l_thumbs_up"><i class="fa-regular fa-heart"></i></span>
								<p class="l_g_count">{{count}}</p>
							</a>
					</div>

					<script>
						$(function(){
							// 좋아요 버튼
							$("#l_greatBtn").click(function(){
								const csrfToken = $("meta[name='csrf-token']").attr("content");
								let l_no = "{{location2.l_no}}";
								console.log("l_no:", l_no);
								//ajax
								$.ajax({
									headers:{"X-CSRFToken":csrfToken},
									url:"/location/like/",
									type:"post",
									data:{"l_no":l_no},
									success:function(data){

										if(data.result == "remove"){
											$('.l_g_count').text(data.count)
										}else{
											$('.l_g_count').text(data.count)
										}				
									},
									error:function(){
										alert("실패")
									}
								}) //ajax
							}); //greatBtn
						}); //function
					</script>
					<!-- //좋아요 부분-->
					 
				</div>
			</div>
		</div>
	</div>
	
  <!--서울 페이지-->
	<div id="text_div">
		{% for locate in location %}
			<div id ="text_div1">
				<h3 id = "font">
					{{locate.l_location }}, 어떤 곳인가? <br><br>
				</h3>
			</div>
			<div>
				<div id ="text_div2">
					<h5>
					{{locate.l_description|linebreaksbr}} <!--|linebreaksbr : 글 단락 나누기	--> 
					</h5>
				</div>
			</div>
		{% endfor %}
	</div>
	

		<!--관광지 테이블-->
		<div class="center-container">
			<table id="traveltable">
				<tr>
					<td colspan="2" class="traveltitle">
						<h3 id = "font">
							주요 관광지
						</h3>
					</td>
				</tr>
				{%if informs%}			
					{% for inform in informs %}
						{% if forloop.counter0|divisibleby:2 %} <!-- 새로운 행 시작 -->
						<tr>
						{% endif %}
								<td class="traveltd">
										<div class="image-container">
												<img class="city_img" src="{{ inform.a_file.url }}" alt="{{ inform.a_name }}">
												<div class="image-info">
														<div class="name">{{ inform.a_name }}</div>
														<div class="description">{{ inform.a_description }}</div>
												</div>
										</div>
								</td>
						{% if forloop.counter|divisibleby:2 or forloop.last %} <!-- 행 닫기 -->
						</tr>
						{% endif %}
					{% endfor %}
					{% else %}
					<tr>
						<td class="traveltd"> 데이터가 없습니다. </td>
					</tr>
				{%endif%}
			</table>
		</div>

		
  


		<div class="site-footer">
			<div class="container">
	
				<div class="row">
	
					<div class="col-lg-2 ml-auto">
						<div class="widget">
							<h3>유용한 링크</h3>
							<ul class="list-unstyled float-left links">
								<li><a href="https://www.skyscanner.co.kr/">비행기 예매</a></li>
								<li><a href="https://www.kobus.co.kr/main.do">버스 예매</a></li>
								<li><a href="https://www.mibankins.com/travel/">여행자 보험</a></li>
								<li><a href="https://www.weather.go.kr/w/index.do">한국 날씨</a></li>
								<li><a href="#">Q&A</a></li>
							</ul>
						</div> <!-- /.widget -->
					</div> <!-- /.col-lg-3 -->
	
					<div class="col-lg-2">
						<div class="widget">
							<h3>사이트 기능</h3>
							<ul class="list-unstyled float-left links">
								<li><a href="#">About us</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">News</a></li>
								<li><a href="#">Careers</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div> <!-- /.widget -->
					</div> <!-- /.col-lg-3 -->
	
	
					<div class="col-lg-3">
						<div class="widget">
							<h3>회사 주소</h3>
							<address>	101, Gasan digital 2-ro, Geumcheon-gu, Seoul, Republic of Korea</address>
							<ul class="list-unstyled links mb-4">
								<li><a href="tel://11234567890">Tel : +82(02)-2025-8523</a></li>
								<li><a href="tel://11234567890">Fax : +82(02)-2101-2154</a></li>
								<li><a href="mailto:info@mydomain.com">kosmo@ikosmo.co.kr</a></li>
							</ul>
						</div> <!-- /.widget -->
					</div> <!-- /.col-lg-3 -->
	
					<div class="col-lg-4">
						<div class="widget">
							<h3>연락</h3>
							<ul class="list-unstyled social icoct">
								<li><a href="https://www.instagram.com/kto9suk9suk"><span class="icon-instagram"></span></a></li>
								<li><a href="https://x.com/kor_visitkorea"><span class="icon-twitter"></span></a></li>
								<li><a href="https://www.facebook.com/welcometoKTO"><span class="icon-facebook"></span></a></li>
								<li><a href="https://open.spotify.com/track/1IlMgzxAtjoNUPUmp8Omki?si=3d0feb86bdc54c9b"><span class="icon-spotify"></span></a></li>
								<li><a href="#"><span class="icon-pinterest"></span></a></li>
								<li><a href="#"><span class="icon-dribbble"></span></a></li>
							</ul>
						</div> <!-- /.widget -->
						{% comment %} <div class="widget">
							<h3>About Passport<span class="text-primary">.</span> </h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</div> <!-- /.widget -->
					</div> <!-- /.col-lg-3 --> {% endcomment %}
	
				</div> <!-- /.row -->
	
				<div class="row mt-5">
					<div class="col-12 text-center">
						<p class="mb-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> <!-- License information: https://untree.co/license/ -->
						</p>
					</div>
				</div> <!-- /.container -->
			</div> <!-- /.site-footer -->
	
			<!-- Preloader -->
			<div id="overlayer"></div>
			<div class="loader">
				<div class="spinner-border text-primary" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
	
	
			<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
			<script src="{% static 'js/tiny-slider.js'%}"></script>
			<script src="{% static 'js/aos.js'%}"></script>
			<script src="{% static 'js/navbar.js'%}"></script>
			<script src="{% static 'js/counter.js'%}"></script>
			<script src="{% static 'js/rellax.js'%}"></script>
			<script src="{% static 'js/flatpickr.js'%}"></script>
			<script src="{% static 'js/glightbox.min.js'%}"></script>
			<script src="{% static 'js/custom.js'%}"></script>
		</body>
		</html>